.example-chip-list {
    width: 100%;
  }

.button-custom{
    border-radius: 15px;
    border: none;
    display: inline-block;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}